body {
  font-family: Lato;
  color: #81a8c5;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
html {
  height: 100%;
}
.clear {
  clear: both;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
li {
  cursor: pointer;
}
#selectMode {
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}
#selectMode #modeSelectTitle {
  font-weight: 300;
  font-size: 3em;
}
#selectMode .modeSelectButton {
  margin: 60px 40px;
  display: inline-block;
}
#selectMode .modeLabel {
  font-size: 1.3em;
}
#selectMode .circularPhoto {
  transition: all 0.2s ease-out;
}
.circularPhoto {
  height: 200px;
}
.circular {
  overflow: hidden;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h2 {
  font-family: Lato;
  margin: -10px;
  font-size: 3em;
  font-weight: 700;
}
h3 {
  margin: 0px 0px 0px 0px;
  font-size: 1.2em;
  font-weight: 300;
  color: #6c6c6c;
  margin-bottom: 30px;
}
h4 {
  margin: 30px 0px 8px 0px;
  font-weight: 600;
  font-size: 1.4em;
}
h5 {
  margin: 0px;
  font-weight: 300;
}
p {
  font-weight: 300;
  color: #6c6c6c;
}
table {
  margin-left: auto;
  margin-right: auto;
}
#homeButton {
  cursor: pointer;
  position: fixed;
  top: -7px;
  padding: 10px;
  border-radius: 7px;
  background-color: #ededed;
  transition: color 0.2s linear;
  font-size: 0.8em;
}
#homeButton a {
  color: #fff;
}
#homeButton a:hover {
  color: #6c6c6c;
}
#homeIcon {
  font-size: 3em;
}
#homeText {
  font-weight: 300;
  margin-top: -5px;
}
.pull-menu {
  position: fixed;
  top: 17%;
  transition: margin padding background-color 0.2s linear;
}
#showmenu {
  cursor: pointer;
  transition: all 0.2s linear;
  margin-top: -40px;
  position: fixed;
  height: 40px;
  width: 50px;
  background-color: #7c7c7c;
  top: 0;
  z-index: 1000;
}
#showmenu:hover {
  background-color: #6c6c6c;
}
#showmenu #menuBar {
  color: #fff;
  font-size: 1.6em;
  padding-left: 13px;
  padding-top: 6px;
}
.menuList {
  padding: 0px;
  margin-top: 40px;
}
#menuLingHeading {
  font-size: 1.7em;
  font-weight: 300;
  top: 15%;
}
#menuLingHeading .active {
  color: #81a8c5;
}
#menuLingHeading a:hover {
  color: #81a8c5;
}
#projectHeading {
  color: #81a8c5;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1.2em;
}
a {
  color: #cfcfcf;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1.1em;
  transition: color 0.1s linear;
}
a:hover {
  color: #9d9d9d;
}
a.active {
  color: #7c7c7c;
}
#projectMenuCirlce {
  opacity: 0;
  position: absolute;
  background-color: #81a8c5;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: all 0.2s ease-out;
}
.projectDetail {
  padding-left: 20%;
  text-align: center;
  min-height: 600px;
  transition: all 0.2s linear;
}
.projectDetail .bottomMargin {
  margin-bottom: 40px;
}
.projectDetail img {
  margin: 10px 0px;
}
#projectsFooter {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
  padding-bottom: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-top: 20px;
  border-top: 1px solid #ededed;
  color: #6c6c6c;
  font-weight: 300;
}
#projectsFooter i {
  margin-right: 10px;
}
#projectsFooter a {
  font-size: 1em;
  color: #7c7c7c;
  text-decoration: none;
}
:#projectsFooter ahover {
  color: #7c7c7c;
}
.aboutMenu {
  border: 1px solid #ededed;
  padding: 40px 30px;
  border-radius: 20px;
}
.aboutMenu a {
  text-decoration: none;
  line-height: normal;
  font-size: inherit;
  color: #6c6c6c;
}
#projectElements {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px;
}
.blue {
  color: #81a8c5;
}
.circularPhotoSmall {
  height: 150px;
  border-radius: 50%;
}
.dividerLine {
  border-top: 1px solid #ededed;
  margin: 60px;
}
.narrowSection {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.narrowSection.mainCaption {
  margin-top: 30px;
}
.smallMargin {
  margin: 5px 0px;
}
td {
  width: 500px;
  color: #6c6c6c;
  font-weight: 300;
}
#skills td {
  width: 180px;
}
.skillsTable td {
  padding-bottom: 10px;
}
#DiplomatLayout .halfWidth {
  width: 49%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.fullWidth {
  width: 100%;
}
.halfWidth {
  width: 48%;
  display: inline-block;
}
.thirdWidth {
  width: 31%;
  display: inline-block;
}
.thinBorder {
  border-style: solid;
  border-color: #cfcfcf;
  border-width: 1px;
}
.center {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}
.button {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  text-decoration: none;
  color: #cfcfcf;
  padding: 10px 20px;
  margin: 0 10px;
  transition: color 0.1s linear;
}
.button:hover {
  color: #7c7c7c;
  border-color: #7c7c7c;
}
.button i {
  margin-right: 8px;
}
.fixed {
  position: fixed;
  top: 20px;
  margin-right: 20%;
  background-color: #0f0 false;
}
#whale {
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  -webkit-animation: whaleAni 5s linear 0s infinite alternate-reverse; /* Chrome, Safari, Opera */
}
/* Chrome, Safari, Opera */
@-webkit-keyframes whaleAni {
  0% {
    left: 0px;
    bottom: 0px;
  }
  25% {
    left: -20px;
    bottom: -20px;
  }
  50% {
    left: -50px;
    bottom: -25px;
  }
  75% {
    left: -30px;
    bottom: -30px;
  }
  100% {
    left: -20px;
    bottom: -10px;
  }
}
@media screen and (max-width: 900px) {
  a.active {
    color: #81a8c5;
  }
  .projectDetail {
    padding-left: 0;
  }
  #projectHeading {
    display: none;
  }
  .pull-menu {
    margin-left: -170px;
  }
  .pull-menu.active {
    margin-top: -30px;
    height: 100%;
    top: 0px;
    padding-top: 120px;
    background-color: #414141;
    margin-left: -40px;
    padding-right: 30px;
    padding-left: 15px;
  }
  #showmenu {
    margin-top: 0px;
  }
  #projectsFooter {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  #projectsFooter .left {
    float: none;
  }
  #projectsFooter .right {
    float: none;
  }
  #projectMenuCirlce {
    display: none;
  }
  #homeButton {
    top: 60px;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  #homeIcon {
    color: #cfcfcf;
    font-size: 2em;
  }
  #homeIcon:hover {
    color: #7c7c7c;
  }
}
@media screen and (max-width: 600px) {
  #projectElements {
    padding: 30px 10px;
  }
  .pull-menu.active {
    margin-left: -10px;
  }
}
@media screen and (max-width: 400px) {
  .button.double {
    font-size: 0.9em;
    padding: 5px;
  }
}

